<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>uk.co.far-blue.GPGServices</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>ccsv</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
			    <key>default</key>
			    <string>V</string>
		    </dict>
		    <key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>GPG/Verify</string>
			</dict>
			<key>NSMessage</key>
			<string>verify</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSHTMLPboardType</string>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
			    <key>default</key>
    			<string>S</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>GPG/Sign</string>
			</dict>
			<key>NSMessage</key>
			<string>sign</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSHTMLPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSHTMLPboardType</string>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
			    <key>default</key>
    			<string>K</string>
    		</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>GPG/My Key</string>
			</dict>
			<key>NSMessage</key>
			<string>myKey</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSHTMLPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
			    <key>default</key>
    			<string>F</string>
    		</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>GPG/My Fingerprint</string>
			</dict>
			<key>NSMessage</key>
			<string>myFingerprint</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSHTMLPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
			    <key>default</key>
    			<string>I</string>
    		</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>GPG/Import Key</string>
			</dict>
			<key>NSMessage</key>
			<string>importKey</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSHTMLPboardType</string>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSUIElement</key>
	<string>1</string>
</dict>
</plist>
