<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildNumber</key>
	<string>AUTOFILL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>GPGServices</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gpg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>lock.icns</string>
			<key>CFBundleTypeName</key>
			<string>GnuPG Encrypted File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>asc.icns</string>
			<key>CFBundleTypeName</key>
			<string>GnuPG Signature File (Ascii)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sig</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sig</string>
			<key>CFBundleTypeName</key>
			<string>GnuPG Signature File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>GPGServices</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.gpgtools.gpgservices</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>AUTOFILL</string>
	<key>CFBundleSignature</key>
	<string>ccsv</string>
	<key>CFBundleVersion</key>
	<string>AUTOFILL</string>
	<key>CommitHash</key>
	<string>AUTOFILL</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>V</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Verify</string>
			</dict>
			<key>NSMessage</key>
			<string>verify</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>R</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Sign</string>
			</dict>
			<key>NSMessage</key>
			<string>sign</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
			</array>
			<key>NSTimeout</key>
			<string>600000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Sign Selection to New Window</string>
			</dict>
			<key>NSMessage</key>
			<string>sign</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<array>
					<string>com.apple.Safari</string>
					<string>com.google.Chrome</string>
					<string>org.mozilla.firefox</string>
					<string>org.chromium.Chromium</string>
					<string>com.operasoftware.Opera</string>
					<string>org.mozilla.camino</string>
					<string>com.adiumX.adiumX</string>
					<string>com.apple.mail</string>
				</array>
			</dict>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
			</array>
			<key>NSTimeout</key>
			<string>600000</string>
			<key>NSUserData</key>
			<string>showInWindow</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>E</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Encrypt</string>
			</dict>
			<key>NSMessage</key>
			<string>encrypt</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
				<string>public.plain-text</string>
			</array>
			<key>NSTimeout</key>
			<string>600000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Encrypt Selection to New Window</string>
			</dict>
			<key>NSMessage</key>
			<string>encrypt</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<array>
					<string>com.apple.Safari</string>
					<string>com.google.Chrome</string>
					<string>org.mozilla.firefox</string>
					<string>org.chromium.Chromium</string>
					<string>com.operasoftware.Opera</string>
					<string>org.mozilla.camino</string>
					<string>com.adiumX.adiumX</string>
					<string>com.apple.mail</string>
					<string>com.hipchat.HipChat</string>
				</array>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
				<string>public.plain-text</string>
			</array>
			<key>NSTimeout</key>
			<string>600000</string>
			<key>NSUserData</key>
			<string>showInWindow</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>D</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Decrypt</string>
			</dict>
			<key>NSMessage</key>
			<string>decrypt</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
			</array>
			<key>NSTimeout</key>
			<string>100000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Decrypt Selection to New Window</string>
			</dict>
			<key>NSMessage</key>
			<string>decrypt</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<array>
					<string>com.apple.Safari</string>
					<string>com.google.Chrome</string>
					<string>org.mozilla.firefox</string>
					<string>org.chromium.Chromium</string>
					<string>com.operasoftware.Opera</string>
					<string>org.mozilla.camino</string>
					<string>com.adiumX.adiumX</string>
					<string>com.apple.mail</string>
					<string>com.hipchat.HipChat</string>
				</array>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
			</array>
			<key>NSTimeout</key>
			<string>100000</string>
			<key>NSUserData</key>
			<string>showInWindow</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>K</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Insert my key</string>
			</dict>
			<key>NSMessage</key>
			<string>myKey</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
			<key>NSTimeout</key>
			<string>600000</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>F</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Insert my fingerprint</string>
			</dict>
			<key>NSMessage</key>
			<string>myFingerprint</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
			<key>NSTimeout</key>
			<string>600000</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>I</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Import key</string>
			</dict>
			<key>NSMessage</key>
			<string>importKey</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
			</array>
			<key>NSTimeout</key>
			<string>100000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Sign File</string>
			</dict>
			<key>NSMessage</key>
			<string>signFile</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>NSTimeout</key>
			<string>600000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Encrypt File</string>
			</dict>
			<key>NSMessage</key>
			<string>encryptFile</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>NSTimeout</key>
			<string>600000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Decrypt File</string>
			</dict>
			<key>NSMessage</key>
			<string>decryptFile</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Validate</string>
			</dict>
			<key>NSMessage</key>
			<string>validateFile</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>NSTimeout</key>
			<string>100000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>OpenPGP: Import</string>
			</dict>
			<key>NSMessage</key>
			<string>importFile</string>
			<key>NSPortName</key>
			<string>GPGServices</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>NSTimeout</key>
			<string>100000</string>
		</dict>
	</array>
	<key>NSUIElement</key>
	<string>1</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://gpgtools.org/releases/gpgservices/appcast.xml</string>
	<key>SUFeedURL_nightly</key>
	<string>https://releases.gpgtools.org/nightlies/gpgservices/appcast.xml</string>
	<key>SUFeedURL_prerelease</key>
	<string>https://gpgtools.org/releases/gpgservices/pre-appcast.xml</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>gpgservices.sdef</string>
</dict>
</plist>
